<footer class="mastfoot mt-auto">
    <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by
            <a href="https://github.com/mdo">@mdo</a> and
            <a href="https://github.com/vanch3d">@vanch3d</a>.</p>
    </div>
</footer>
