{% extends 'base.twig' %}

{% block title %}Admin | Home{% endblock %}

{% block content %}
    <div class="container-fluid">

        <div id="my_container" class="fatsecret_container"></div>

    </div>

{% endblock %}

{% block injectJS %}
    <script src="//platform.fatsecret.com/js?key={{ fatsecret.key }}&theme=grey"></script>
    <script>
        $(document).ready(function() {
            fatsecret.variables.navOptions = 0;//fatsecret.navFeatures.home;
            fatsecret.setContainer("my_container");
            fatsecret.setCanvas("foods.search");
        });
    </script>
{% endblock %}