
// main colors
$app-background-color: #333;

$grey-gradient-from: #fff;
$grey-gradient-to: rgb(255,255,255);

$food-type-unknown: rgb(170,170,170);
$food-type-meal: rgb(170,170,170);
$food-type-fruitveg: #4fb15c;
$food-type-protein: #d2837f;
$food-type-spread: #7e4288; //rgb(206, 38, 32);
$food-type-dairy: #1c74bb; //#56adc9
$food-type-carbohydrate: #d2ac3e ;  //rgb(236, 167, 110);
$food-type-sugary: #db5856;
$food-type-drink: #a9c7dc;
