{% extends 'base.vis.twig' %}

{% block title %}Diet | Time{% endblock %}

{% block controller %}
    <div class="d-flex p-2 justify-content-between" style="width: 100%;">
        <h2 class="title">Weekly Food Timing</h2>
        <p class="headline">Show hour-by-hour & day-by-day common times for food intake.</p>
    </div>
    <div id="controller" class="d-flex p-2 flex-row justify-content-between" style="width: 100%;">
        <div class="btn-group">
        </div>
        <div class="btn-group">
            <button type="button" id="control-fs" class="btn btn-secondary" data-toggle="button" aria-pressed="false" autocomplete="off">
                <i class="fa fa-expand-arrows-alt "></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div id="chart" style="width: 100%;">
    </div>
{% endblock %}

{% block injectCSS %}
    <style>
        rect.bordered {
            stroke: #E6E6E6;
            stroke-width:2px;
        }

        text.mono {
            font-size: 9pt;
            font-family: Consolas, courier;
            fill: #aaa;
        }

        text.axis-workweek {
            fill: #000;
        }

        text.axis-worktime {
            fill: #000;
        }
    </style>

{% endblock %}

{% block injectJS %}
<script src="/js/d3.v4-bundle.min.js" ></script>
<script>
    $(document).ready(function() {

        let url = "{{ path_for('api.diet.records') }}";
        d3.json(url, function(error, json) {
            console.log(json.data);

            //let formatDay = d3.timeFormat("%Y-%m-%d");
            let formatHour = d3.timeFormat("%H");
            let byDay = d3.nest()
                .key(function(d) { return ((new Date(d.date)).getDay() || 7) -1; })
                .key(function(h) { return formatHour(new Date(h.date)); })
                .rollup(function(v) { return v.length; })
                .entries(json.data);
            console.log(byDay);

            let chart = d3.weeklyHeatMap();
            d3.select('#chart')
                .datum(byDay)
                .call(chart);
        });

    });
</script>
{% endblock %}
