<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% block injectMETA %}{% endblock %}

    <link rel="icon" href="images/favicon.ico">

    <title>SleepCloud-slim | {% block title %}{% endblock %}</title>

    <!-- Core CSS -->
    <link href="/css/app.min.css" rel="stylesheet">
    <!-- Secondary CSS -->
    {% block injectCSS %}{% endblock %}
    <style>
        body {
            display: none;
        }

        .fontawesome-i2svg-active body {
            display: initial;
        }
    </style>
</head>

<div class="device-xs d-block d-sm-none"></div>
<div class="device-sm d-none d-sm-block d-md-none"></div>
<div class="device-md d-none d-sm-none d-md-block d-lg-none"></div>
<div class="device-lg d-none d-sm-none d-md-none d-lg-block d-xl-none"></div>
<div class="device-xl d-none d-sm-none d-md-none d-lg-none d-xl-block"></div>
<body class="text-center">

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    {% include('widgets/base.header.twig') %}

    {# @todo[vanch3d] Define proper UI element #}
    <aside class="inner cover border-light">
        {% block controller %}{% endblock %}
    </aside>
    <div id="progress-bar" class="pg-bar"></div>

    <main role="main" class="inner cover text-left">
        {% block content %}{% endblock %}
    </main>

    {% include('widgets/base.footer.twig') %}


</div>

<!-- Bootstrap & Core JavaScript -->
<script src="/js/app.min.js" ></script>
<script>
    {# See
        - https://stackoverflow.com/questions/18575582
        - https://github.com/anhkind/responsive-bootstrap-toolkit
    #}
    function isBreakpoint( alias ) {
        return $('.device-' + alias).is(':visible');
    }
</script>
{% block injectGlobalJS %}{% endblock %}
{% block injectJS %}{% endblock %}

</body>
</html>
